<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src="../static/profile-img.png" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Praveenkumar P</h1>
          <p>Web Developer</p>
          <div class="sum-btn">
            <a href="../static/Praveen_Resume.pdf" download><button class="bt1">Download CV</button></a>
            <a href="../template/contact.html"><button class="bt2">Hire me</button></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            Seeking an opportunity where I can utilize my skills and knowledge to the growth of an organization and a job that gives me opportunities to learn and enhance my skills and strength in addition with company goals and objectives.
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>20</p>
            <p>praveenkumar251251@gmail.com</p>
            <p>+91 9360487164</p>
            <p>Varudhampatti Mekkadu,Salem,Tamil Nadu, India</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Professional Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>
            <legend>MYSQL</legend>
            <div class="bar4 bar"></div>
          </div>
          <div>
            <legend>Python</legend>
            <div class="bar5 bar"></div>
          </div>
          <div>
            <legend>Java</legend>
            <div class="bar6 bar"></div>
          </div>
        </div>
      </div>
      <div class="projects">
        <h1>Projects </h1>
        <div class="cards-container">
          <div class="card card1">
            <h1 class="card-text"><img src="https://img.icons8.com/metro/56/000000/bus.png"/></h1>
          <h3 class="card-subtext">Bus Management System</h3>
          <p class="card-maintext">
            Java and Mysql are used in this project.The aim of this project was to develop an application that could manage the details of buses,drivers as well as the passengers could book the rides.
          </p>
          </div>
      </div>
      <div class="certificate">
        <h1>Achievements and Certification:</h1>
        <div class="cert-cont">
          <ul>
            <li>Certified in python(basic) in hackerrank</li>
            <li>NPTEL-Software Testing </li>
            <li>Successfully completed career edge programme by TCS</li>
            <li>Completed externship from Smartinternz - Full stack development</li>
          </ul>
         
        </div>
      </div>
    </div>
  </body>
</html>
 