<html>
    <head>
        <link rel="stylesheet" href="https://novanishanth.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
    </head>
        <body>
            <img src="https://novanishanth.s3.jp-tok.cloud-object-storage.appdomain.cloud/signup-icon.png"  width="150px">
            <img src="https://novanishanth.s3.jp-tok.cloud-object-storage.appdomain.cloud/login-removebg-preview.png"  width="150px">
            <img src="https://novanishanth.s3.jp-tok.cloud-object-storage.appdomain.cloud/information-system-png-7.png"  width="150px">
            <img src="https://novanishanth.s3.jp-tok.cloud-object-storage.appdomain.cloud/PngItem_5233379.png"  width="150px">
            <img src="https://novanishanth.s3.jp-tok.cloud-object-storage.appdomain.cloud/PngItem_1342342.png"  width="150px">
        </body>
        <script>
            window.watsonAssistantChatOptions = {
              integrationID: "91a27988-59f2-4994-b1dd-4e4c10faf2cb", 
              region: "au-syd", 
              serviceInstanceID: "f0bb78e5-9309-4358-b0e8-493e2efd6f83", 
              onLoad: function(instance) { instance.render(); }
            };
            setTimeout(function(){
              const t=document.createElement('script');
              t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
              document.head.appendChild(t);
            });
          </script>
   
</html>